		<footer class="footer">
			<div class="footer__content container">
				<div class="footer__logo-wrapper">
					<img src="img/footer-logo.svg" alt="">
					<p>Amazon, Amazon Advertising, and all related logos are trademarks of Amazon.com, Inc. or its affiliates</p>
				</div>
				
				<div class="footer__grid">
					<div class="footer__item">
						<a href="#hero-section" ><img src="img/white-logo.svg" alt=""></a>
						<h3>ABOUT US</h3>	
						<p>We partner with growing  brands to help them manage and scale their Amazon business.</p>
					</div>
					<div class="footer__item">
						<h3>OUR EXPERTISE</h3>
						<ul>
							<li><a href="#">Account Management</a></li>
							<li><a href="#">Inventory Planning</a></li>
							<li><a href="#">Product Launches</a></li>
							<li><a href="#">Global Marketplaces</a></li>
							<li><a href="#">Amazon Advertising</a></li>
							<li><a href="#">Amazon SEO</a></li>
							<li><a href="#">Ranking Strategies</a></li>
							<li><a href="#">Brand Protection</a></li>
						</ul>
					</div>
					<div class="footer__item">
						<h3>CONTACT US</h3>
						<a href="#" class="footer__mail">alexander@junglestrategies.com</a>
						<p>Jernholmen 54</p>
						<p>DK-2650 Hvidovre</p>
						<p>Denmark</p>
						<a href="#" class="footer__tel">+45 3033 9710</a>
						<div class="footer__social">
							<a href=""><img src="img/social1.png" alt=""></a>
							<a href=""><img src="img/social2.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="footer__copyright">
					<div class="footer__left">
						<p>Jungle Strategies ApS @2022 All Rights Reversed</p>
					</div>
					<div class="footer__right">
						<a href="#">CVR/VAT DK39639122</a>
						<a href="#">Terms & Conditions</a>
						<a href="#">Private Policy</a>
					</div>
				</div>
			</div>
		</footer>
		<script src="js/app.min.js?v=1.0.5"></script>
	</div>
</body>
</html>