<div class="spoilers-block _scr-item _spoilers _one">
	<div class="spoilers-block__item">
		<div class="spoilers-block__title _spoiler">Я вопрос</div>
		<div class="spoilers-block__body">
			Я ответ Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ut asperiores nesciunt nobis vel nihil, quibusdam error sunt accusamus dolore quisquam architecto maiores. Qui consectetur corporis sit quae inventore culpa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ut asperiores nesciunt nobis vel nihil, quibusdam error sunt accusamus dolore quisquam architecto maiores. Qui consectetur corporis sit quae inventore culpa!
		</div>
	</div>
	<div class="spoilers-block__item">
		<div class="spoilers-block__title _spoiler">Я вопрос</div>
		<div class="spoilers-block__body">
			Я ответ Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ut asperiores nesciunt nobis vel nihil, quibusdam error sunt accusamus dolore quisquam architecto maiores. Qui consectetur corporis sit quae inventore culpa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ut asperiores nesciunt nobis vel nihil, quibusdam error sunt accusamus dolore quisquam architecto maiores. Qui consectetur corporis sit quae inventore culpa!
		</div>
	</div>
	<div class="spoilers-block__item">
		<div class="spoilers-block__title _spoiler">Я вопрос</div>
		<div class="spoilers-block__body">
			Я ответ Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ut asperiores nesciunt nobis vel nihil, quibusdam error sunt accusamus dolore quisquam architecto maiores. Qui consectetur corporis sit quae inventore culpa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ut asperiores nesciunt nobis vel nihil, quibusdam error sunt accusamus dolore quisquam architecto maiores. Qui consectetur corporis sit quae inventore culpa!
		</div>
	</div>
</div>