<div class="header__wrapper">
	<div class="container">
		<header class="header">
			<div class="icon-menu"><span></span></div>
			<a href="#hero-section" class="header__logo">
				<img src="img/logo.svg" alt="logo">
			</a>
			<a href="#form__content"><img src="img/mail.svg" alt="" /></a>
			<ul class="header__menu">
				<li><a href="#hero-section" class="header__menu-link">Home</a></li>
				<li><a href="#what-do-section" class="header__menu-link">What we do</a></li>
				<li><a href="#slider-section__content" class="header__menu-link">Who we are</a></li>
				<li><a href="#process-section__content" class="header__menu-link">How we do it</a></li>
				<li><a href="#form__content" class="header__menu-link">Contact us</a></li>
			</ul>
			<!-- <ul class="header__menu-achor">
				<li><a href="hero-section" class="header__menu-link anchor">Home</a></li>
				<li><a href="what-do-section-anchor" class="header__menu-link anchor">What we do</a></li>
				<li><a href="slider-section__content" class="header__menu-link anchor">Who we are</a></li>
				<li><a href="first-step-section__content" class="header__menu-link anchor">How we do it</a></li>
				<li><a href="form__content" class="header__menu-link anchor">Contact us</a></li>
			</ul> -->
		</header>
	</div>
</div>